<section class="section-video">
    <div class="container">
        <div class="row r-title">
            <div class="col-12">
                <h2 class="color-white text-center mb-4 mb-md-3">Built for startup and enterprise use</h2>
                <p class="text-center mb-0 color-white fw-normal">Move prone-to-human-error operations on your database to a back office administration panel which has been designed for non-technical employees. Your operations team can do their job without worrying
                    that their actions can have a detrimental effect on the system.</p>
            </div>
        </div>
    </div>
    <div class="section-video__outer d-none">
        <div class="container">
            <div class="row r-video">
                <div class="col-12">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <div class="yt-player with-cover">
                            <img class="video-cover" src="./img/video-placeholder-1.webp"
                                alt="Video title">
                            <iframe class="player d-none" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            <button class="play-btn">
                                <svg class="d-none d-md-inline" width="100" height="118" viewBox="0 0 100 118" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m0 0 100 59L0 118z" fill="#6DFBCE" fill-rule="evenodd"/>
                                </svg>
                                <svg class="d-inline d-md-none" width="59" height="69" viewBox="0 0 59 69" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m0 0 59 34.5L0 69z" fill="#6DFBCE" fill-rule="evenodd"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>