<section class="section-key section-key--bussr overflow-hidden position-relative">
    <div class="container mb-5 position-relative">
        <div class="row r-title">
            <div class="col-12">
                <h5 class="dark-brand text-center text-uppercase mb-4">what we delivered</h5>
                <h2 class="text-white text-center mb-0">
                    Key AdminJS-powered features
                </h2>
            </div>
        </div>
    </div>
    <section class="section-key-inner section-key-inner--1 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-7", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-7", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-7", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">Google Maps Platform 
                                integration</h3>
                            <p class="body-m color-white mb-0">To speed up operations and eliminate the need 
                                for repetitive manual inputs, we integrated a set 
                                of services out of Google Maps Platform into the 
                                back-office panel available to various Bussr administrative teams. </p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">Advanced bus routes creator</h3>
                            <p class="body-m color-white mb-0">Bussr team was manually defining new bus routes using geo coordinates, which made the entire process extemely time-consuming and prone to human error. A simple drag and drop bus lines creation tool was introduced to change that.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-key-inner section-key-inner--2 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-8", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-8", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row d-flex flex-column-reverse flex-lg-row">
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">Sonic ticket validation</h3>
                            <p class="body-m color-white mb-0">In order to speed up a bus onboarding process and decrease time spent on each stop, an ultrasound-based verification tool was integrated both into the driver and passenger apps.</p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">Business intelligence</h3>
                            <p class="body-m color-white mb-0">Bussr’s operations department required access to numerous statistics and collected user data, hence 
                                the decision to integrate AdminJS with AppsFlyer 
                                and Tableau, BI tools heavily used by Bussr.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-8", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-key-inner section-key-inner--3 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-9", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-9", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-9", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">Vouchers and discounts</h3>
                            <p class="body-m color-white mb-0">Discounts and vouchers are a vital form of marketing operations, especially for on-demand services. Voucherify was used to cover those needs and AdminJS integration was developed for easier sync 
                                of active campaigns.</p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">Firebase-powered 
                                authentication</h3>
                            <p class="body-m color-white mb-0">Firebase services were used to handle user authentication process, enable all of the popular methods of sign up and phone number verification 
                                as well as deep linking functionalities used by Bussr marketing team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>