<section class="section-success section-success--bussr position-relative">
    <div class="section-success__bg-wrap absolute">
        @@include('../modules/_img-png.html', {"src": "success-bg", "class": "section-success__bg",
        "alt":
        ""})
    </div>
    <div class="container position-relative">
        <div class="row r-title">
            <h5 class="dark-brand text-center mb-4">Project success</h5>
            <h3 class="text-center mb-6 mb-md-8">We built an AdminJS-powered system used by</h3>
            <div class="fancy-header col-12">
                <ul class="row list-unstyled mb-0 gy-7 list-numbers">
                    <li class="col-xl-auto list-numbers__item">
                        <div class="number-box d-flex flex-column justify-content-center">
                            <h6 class="dark-brand mb-0 text-center">12 milion+</h6>
                            <p class="label text-center text-dark mb-0 fw-normal">users</p>
                        </div>
                    </li>
                    <li class="col-xl-auto list-numbers__item">
                        <div class="number-box d-flex flex-column justify-content-center">
                            <h6 class="dark-brand mb-0 text-center">500+</h6>
                            <p class="label text-center text-dark mb-0 fw-normal">cities</p>
                        </div>
                    </li>
                    <li class="col-xl-auto list-numbers__item">
                        <div class="number-box d-flex flex-column justify-content-center">
                            <h6 class="dark-brand mb-0 text-center">900+</h6>
                            <p class="label text-center text-dark mb-0 fw-normal">transport partners</p>
                        </div>
                    </li>
                    <li class="col-xl-auto list-numbers__item">
                        <div class="number-box d-flex flex-column justify-content-center">
                            <h6 class="dark-brand mb-0 text-center">60+</h6>
                            <p class="label text-center text-dark mb-0 fw-normal">payment providers</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row r-about">
            <div class="col-12">
                <div class="about-box d-flex position-relative">
                    <div class="about-box__bg-wrap absolute">
                        @@include('../modules/_img-png.html', {"src": "about-bg-bussr", "class": "about-box__bg object-cover",
                        "alt":
                        ""})
                    </div>
                    <div class="about-box__col-1 me-5 position-relative">
                        <h3 class="color-white with-decor">About Bussr</h3>
                    </div>
                    <div class="about-box__col-2 position-relative">
                        <p class="body-m color-white">Bussr Technologies is a leading Mobility-as-a-Service (MaaS) solutions provider from Singapore.</p>
                        <p class="body-m color-white mb-0">The main purpose of the app was to give users a reliable way of getting from point A to point B without the hassle of looking for a parking space, especially considering local transportation realities.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row r-challenge">
            <div class="col-xl-6 c-business">
                <div class="business-box position-relative bg-brand-2 d-flex flex-column align-items-start">
                    <div class="business-box__bg-wrap absolute">
                        @@include('../modules/_img-png.html', {"src": "business-bg","class": "business-box__bg object-cover", "alt":""})
                    </div>

                    <h3 class="text-dark with-decor with-decor--dark position-relative mb-55">Business challenge</h3>
                    <p class="mb-6 body-m text-dark position-relative">Launching MVP and business operations in merely 6 weeks.</p>
                    <a target="_blank" href="https://share.hsforms.com/1IedvmEz6RH2orhcL6g2UHA8oc5a" id="contactus" class="btn btn-lg btn-simple position-relative">Looking for similar solution?</a>
                    <script type="text/javascript">
                        $('#contactus').click(function() {
                          fbq('track', 'Contact');
                        });
                    </script>
                </div>
            </div>
            <div class="col-xl-6 c-what">
                <div class="c-what__inner">
                    <h3 class="text-dark with-decor mb-55">What we delivered</h3>
                    <ul class="list-unstyled mb-0 what-list">
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">B2C mobile application for passengers</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Mobile application for bus drivers</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Back-office system for operations management (drivers, buses, petrol control, finance control, bus routes optimization system)</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Back-office system for passengers management (tickets, payments, refunds, user data collection)</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Sonic ticket validation support</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Google Maps Platform services integration</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>