<section class="section-testimonials position-relative">
    <div id="testimonials" class="section-testimonials__bg absolute d-none d-lg-block">
        @@include('../modules/_img-png.html', {"src": "what-bg", "class":
        "object-cover", "alt": ""})
    </div>
    <div class="container position-relative">
        <div class="row r-title">
            <div class="col-12">
                <h2 class="mb-3 text-center">What AdminJS users say</h2>
                <p class="mb-0 text-center">Read what our community says about AdminJS</p>
            </div>
        </div>
        <div class="row r-content d-none d-lg-flex">
            <div class="col-lg-8">
                <div class="row gy-5">
                    <div class="col-lg-6">
                        <a target="_blank" href="https://youtu.be/7Ujn7g1JF1Q" class="testimonials-box testimonials-box--1">
                            <div class="testimonials-box__inner">
                                <div class="testimonials-box__icon-wrap mb-4">
                                    @@include('../modules/_img-png.html', {"src": "slider-icon-1", "class":
                                    "testimonials-box__icon", "alt": "Icon"})
                                </div>
                                <p class="mb-5">“I had an unrealistic deadline and this helped me a lot.”</p>
                                <span class="mt-auto">Sukhraj Singh</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a target="_blank" href="https://github.com/SoftwareBrothers/admin-bro/issues/160" class="testimonials-box  testimonials-box--2 align-items-end">
                            <div class="testimonials-box__inner">
                                <div class="testimonials-box__icon-wrap mb-4">
                                    @@include('../modules/_img-png.html', {"src": "slider-icon-2", "class":
                                    "testimonials-box__icon", "alt": "Icon"})
                                </div>
                                <p class="mb-5">"Thanks for an awesome piece of software!"</p>
                                <span class="mt-auto">#160: DOUBLETUNA</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a target="_blank" href="https://github.com/SoftwareBrothers/admin-bro/issues/141" class="testimonials-box testimonials-box--3">
                            <div class="testimonials-box__inner">
                                <div class="testimonials-box__icon-wrap mb-4">
                                    @@include('../modules/_img-png.html', {"src": "slider-icon-2", "class":
                                    "testimonials-box__icon", "alt": "Icon"})
                                </div>
                                <p class="mb-5">“Great work so far, the tool is incredibly easy to get setup and
                                    understand
                                    outside of this issue.”</p>
                                <span class="mt-auto">#141: n8stowell82</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 c-offset">
                <div class="row gy-5">
                    <div class="col-12">
                        <a target="_blank" href="https://www.reddit.com/r/node/comments/a8enhs/adminbro_just_got_an_option_to_modify_its/" class="testimonials-box testimonials-box--4">
                            <div class="testimonials-box__inner">
                                <div class="testimonials-box__icon-wrap mb-4">
                                    @@include('../modules/_img-png.html', {"src": "slider-icon-3", "class":
                                    "testimonials-box__icon", "alt": "Icon"})
                                </div>
                                <p class="mb-5">“Very nice UI. You did a great job ! Hope to see this project being used
                                    by
                                    a lot of people.”</p>
                                <span class="mt-auto">mojodjodjo</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a target="_blank" href="https://www.youtube.com/watch?v=7Ujn7g1JF1Q" class="testimonials-box testimonials-box--5">
                            <div class="testimonials-box__inner">
                                <div class="testimonials-box__icon-wrap mb-4">
                                    @@include('../modules/_img-png.html', {"src": "slider-icon-1", "class":
                                    "testimonials-box__icon", "alt": "Icon"})
                                </div>
                                <p class="mb-5">"Project to be delivered
                                    in just 4 days... you saved me !!!"</p>
                                <span class="mt-auto">JIMMY R.</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row r-slider d-flex d-lg-none">
            <div class="col-12">
                <div class="slider-testimonials">
                    <div class="splide slider-testimonials__splide">
                        <div class="splide__track slider-testimonials__track">
                            <ul class="splide__list slider-testimonials__list">
                                <li class="splide__slide">
                                    <a target="_blank" href="https://youtu.be/7Ujn7g1JF1Q" class="testimonials-box">
                                        <div class="testimonials-box__inner">
                                            <div class="testimonials-box__icon-wrap mb-4">
                                                @@include('../modules/_img-png.html', {"src": "slider-icon-1", "class":
                                                "testimonials-box__icon", "alt": "Icon"})
                                            </div>
                                            <p class="mb-5">“I had an unrealistic deadline and this helped me a lot.”</p>
                                            <span class="mt-auto">Sukhraj Singh</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="splide__slide">
                                    <a target="_blank" href="https://github.com/SoftwareBrothers/admin-bro/issues/160" class="testimonials-box">
                                        <div class="testimonials-box__inner">
                                            <div class="testimonials-box__icon-wrap mb-4">
                                                @@include('../modules/_img-png.html', {"src": "slider-icon-2", "class":
                                                "testimonials-box__icon", "alt": "Icon"})
                                            </div>
                                            <p class="mb-5">"Thanks for an awesome piece of software!"</p>
                                            <span class="mt-auto">#160: DOUBLETUNA</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="splide__slide">
                                    <a target="_blank" href="https://github.com/SoftwareBrothers/admin-bro/issues/141" class="testimonials-box">
                                        <div class="testimonials-box__inner">
                                            <div class="testimonials-box__icon-wrap mb-4">
                                                @@include('../modules/_img-png.html', {"src": "slider-icon-2", "class":
                                                "testimonials-box__icon", "alt": "Icon"})
                                            </div>
                                            <p class="mb-5">“Great work so far, the tool is incredibly easy to get setup and
                                                understand
                                                outside of this issue.”</p>
                                            <span class="mt-auto">#141: n8stowell82</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="splide__slide">
                                    <a target="_blank" href="https://www.reddit.com/r/node/comments/a8enhs/adminbro_just_got_an_option_to_modify_its/" class="testimonials-box">
                                        <div class="testimonials-box__inner">
                                            <div class="testimonials-box__icon-wrap mb-4">
                                                @@include('../modules/_img-png.html', {"src": "slider-icon-3", "class":
                                                "testimonials-box__icon", "alt": "Icon"})
                                            </div>
                                            <p class="mb-5">“Very nice UI. You did a great job ! Hope to see this project being used
                                                by
                                                a lot of people.”</p>
                                            <span class="mt-auto">mojodjodjo</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="splide__slide">
                                    <a target="_blank" href="https://www.youtube.com/watch?v=7Ujn7g1JF1Q" class="testimonials-box">
                                        <div class="testimonials-box__inner">
                                            <div class="testimonials-box__icon-wrap mb-4">
                                                @@include('../modules/_img-png.html', {"src": "slider-icon-1", "class":
                                                "testimonials-box__icon", "alt": "Icon"})
                                            </div>
                                            <p class="mb-5">"Project to be delivered
                                                in just 4 days... you saved me !!!"</p>
                                            <span class="mt-auto">JIMMY R.</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>