<section class="section-what py-6 py-lg-9">
    <div class="container">
        <div class="row r-title mb-6 mb-md-9">
            <div class="col-12">
                <h2 class="text-center mb-0">What our users are building with AdminJS</h2>
            </div>
        </div>
        <div class="row r-content gy-55">
            <div class="col-12">
                <div class="what d-flex flex-column">
                    <a href="bussr-case-study.html" class="what__img-wrap">
                        @@include('../modules/_img-jpg.html', {"src": "hero-cs-bg-3", "class": "what__img object-cover", "alt": "Car"})
                    </a href="bussr-case-study.html">
                    <div class="what__content d-flex flex-column">
                        <h3 class="fw-bold mb-3">Bus‑hailing mobile app</h3>
                        <p>Bussr Technologies is a leading Mobility-as-a-Service (MaaS) solutions provider from Singapore. The main purpose of the app was to give users a reliable way of getting from point A to point B..</p>
                        <a href="bussr-case-study.html" class="arrow-link mt-auto">Read the full story</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="what d-flex flex-column">
                    <a href="dive-case-study.html" class="what__img-wrap">
                        @@include('../modules/_img-jpg.html', {"src": "hero-cs-bg-2", "class": "what__img object-cover", "alt": "eCommerce"})
                    </a href="dive-case-study.html">
                    <div class="what__content d-flex flex-column">
                        <h3 class="fw-bold mb-3">Interactive video conferencing</h3>
                        <p>DIVE, or DI VIRTUAL EXPERIENCE™, is an immersive video conferencing platform for 360-degree interactive presentations, designed for virtual and hybrid company meetings.</p>
                        <a href="dive-case-study.html" class="arrow-link mt-auto">Read the full story</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="what d-flex flex-column">
                    <a href="carfellows-case-study.html" class="what__img-wrap">
                        @@include('../modules/_img-jpg.html', {"src": "hero-cs-bg-1", "class": "what__img object-cover", "alt": "eCommerce"})
                    </a href="carfellows-case-study.html">
                    <div class="what__content d-flex flex-column">
                        <h3 class="fw-bold mb-3">E-commerce for automotive sector</h3>
                        <p>CarFellows is an online B2C car leasing platform that connects the largest car dealerships in Germany with end clients to offer them a long-term rental for brand-new cars.</p>
                        <a href="carfellows-case-study.html" class="arrow-link mt-auto">Read the full story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>