<section class="section-hero-cs section-hero-cs--cs position-relative">
    <div class="section-hero-cs__bg-wrap absolute d-none d-sm-block">
        @@include('../modules/_img-jpg.html', {"src": "hero-cs-bg-1", "class": "section-hero-cs__bg object-cover", "alt": ""})
    </div>
    <div class="section-hero-cs__bg-wrap absolute d-block d-sm-none">
        @@include('../modules/_img-jpg.html', {"src": "hero-cs-bg-1-mob", "class": "section-hero-cs__bg object-cover", "alt": ""})
    </div>
    <div class="section-hero-cs__decor-wrap position-absolute">
        @@include('../modules/_img-png.html', {"src": "hero-cs-decor-1", "class": "section-hero-cs__decor", "alt": ""})
    </div>

    <div class="container position-relative h-100 d-flex align-items-start align-items-xl-end">
        <div class="row r-content">
            <div class="col-12 c-content">
                <div class="hero-cs">
                    <h5 class="color-white mb-3">CarFellows</h5>
                    <h1 class="color-white mb-4">E-commerce platform for automotive sector</h1>
                    <div class="country d-flex align-items-center">
                        <div class="country__flag-wrap me-3"><img src="./img/flag-de.webp" alt="Flag"></div>
                        <p class="country__name color-white fw-normal mb-0">Germany</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>