<section class="section-logos @@class">
    <div class="container logos">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center mb-3 mb-md-8 c-logos">
                <div class="logos__item">
                    @@include('../modules/_img-png.html', {"src": "logo-2", "class": "logos__img", "alt": "Logo"})
                </div>
                <div class="logos__item">
                    @@include('../modules/_img-png.html', {"src": "logo-3", "class": "logos__img", "alt": "Logo"})
                </div>
                <div class="logos__item">
                    @@include('../modules/_img-png.html', {"src": "logo-4", "class": "logos__img", "alt": "Logo"})
                </div>
                <div class="logos__item">
                    @@include('../modules/_img-png.html', {"src": "logo-5", "class": "logos__img", "alt": "Logo"})
                </div>
                <div class="logos__item">
                    @@include('../modules/_img-png.html', {"src": "logo-6", "class": "logos__img", "alt": "Logo"})
                </div>
            </div>
            <div class="col-12 justify-content-center align-items-center r-logos-link">
                <a href="#case-studies" class="arrow-link">Check our case studies</a>
            </div>
        </div>

    </div>
</section>