<section class="section-key section-key--dive overflow-hidden position-relative">
    <div class="container mb-5 position-relative">
        <div class="row r-title">
            <div class="col-12">
                <h5 class="dark-brand text-center text-uppercase mb-4">what we delivered</h5>
                <h2 class="text-white text-center mb-0">
                    Key AdminJS-powered features
                </h2>
            </div>
        </div>
    </div>
    <section class="section-key-inner section-key-inner--1 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-4", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-4", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-4", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">Web-based</h3>
                            <p class="body-m color-white mb-0">With providing flawless user experience in mind, the app was designed to be fully web-based and require no software downloads in order to join any of the DIVE-powered meetings.</p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">Full-featured CMS</h3>
                            <p class="body-m color-white mb-0">Being a content-based platform, it required a content management system in place for easy administration and management of the files, presentations and other branded materials both for DIVE themselves and 
                                their clients.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-key-inner section-key-inner--2 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-5", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-5", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row d-flex flex-column-reverse flex-lg-row">
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">360° presentations</h3>
                            <p class="body-m color-white mb-0">DIVE’s core business funtionalities required a set of modules for creation and management of interactive panoramic video calls and presentations with support for in-video hotspots and layered 3D imagery.</p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">MapBox integration</h3>
                            <p class="body-m color-white mb-0">Integrating AdminJS with MapBox enabled creation of map-based presentations with on-screen data points from within the admin panel, without the 
                                need to use any additional software.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-5", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-key-inner section-key-inner--3 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-6", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-6", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-6", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">Live chat and polls</h3>
                            <p class="body-m color-white mb-0">Host-guest interactions are one of the key elements 
                                of any successful presentation, hence the developed support for live chat and polling system that also 
                                keeps all the logs in DIVE CMS for further analysis 
                                or archiving.</p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">Up to 50 concurrent 
                                participants</h3>
                            <p class="body-m color-white mb-0">Increased users capacity makes DIVE a great solution not only for sales calls with leads and clients, but also serves as a tool for virtual and hybrid team meetings 
                                in corporate HQ, training facilities, innovation labs 
                                and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>