<section class="section-doc pt-7 pt-md-9">
    <!-- Temporary added padding after above section removed -->
    <div class="container">
        <div class="row r-title">
            <div class="col-12">
                <h2 class="text-center mb-6 mb-md-9">Documentation</h2>
            </div>
        </div>
        <div class="row r-content">
            <div class="col-lg-3">
                <h3 class="mb-4 mb-md-5 fw-bold">Tutorials</h3>
                <ul class="list-unstyled mb-6 mb-lg-0 list-doc">
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-installation-instructions.html">Installation instructions</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-passing-resources.html">Adding resources</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-customizing-resources.html">Customize resources</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-actions.html">Customize actions</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-writing-react-components.html">Writing your own
                            Components</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-features.html">Using AdminBro features</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-custom-dashboard.html">Customize dashboard</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-rbac.html">Role-Based Access Control</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-i18n.html">Internationalization (i18n)</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="https://docs.adminjs.co/tutorial-cms.html">Content Management System</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="mb-4 mb-md-5 fw-bold">Modules</h3>
                <ul class="list-unstyled mb-6 mb-lg-0 list-doc">
                    <li class="list-doc__item">
                        <a href="#">Express plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Mongoose plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Koa plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Hapi plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Nest JS plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Firebase plugin</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="mb-4 mb-md-5 fw-bold">API</h3>
                <ul class="list-unstyled mb-6 mb-lg-0 list-doc">
                    <li class="list-doc__item">
                        <a href="#">Express plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Mongoose plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Koa plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Hapi plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Nest JS plugin</a>
                    </li>
                    <li class="list-doc__item">
                        <a href="#">Firebase plugin</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="mb-4 mb-md-5 fw-bold">Your app</h3>
                <ul class="list-unstyled mb-6 mb-lg-0 list-doc-btns">
                    <li class="list-doc-btns__item">
                        <a href="#" class="btn btn-doc"><svg width="24" height="24" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <path d="M14 3v4a1 1 0 0 0 1 1h4" stroke="#656771" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M17 21H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7l5 5v11a2 2 0 0 1-2 2zM9 9h1M9 13h6M9 17h6"
                                        stroke="#656771" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>Express plugin</a>
                    </li>
                    <li class="list-doc-btns__item">
                        <a href="#" class="btn btn-doc"><svg width="24" height="24" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <path d="M14 3v4a1 1 0 0 0 1 1h4" stroke="#656771" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M17 21H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7l5 5v11a2 2 0 0 1-2 2zM9 9h1M9 13h6M9 17h6"
                                        stroke="#656771" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>Hapijs plugin</a>
                    </li>
                    <li class="list-doc-btns__item">
                        <a href="#" class="btn btn-doc"><svg width="24" height="24" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <path d="M14 3v4a1 1 0 0 0 1 1h4" stroke="#656771" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M17 21H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7l5 5v11a2 2 0 0 1-2 2zM9 9h1M9 13h6M9 17h6"
                                        stroke="#656771" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>Sequelize plugin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>