<section class="section-pricing-enterprise">
    <div class="container">
        <div class="row r-title gy-8">
            <div class="col-12">
                <h2 class="text-center text-white">Pricing</h2>
            </div>
        </div>
        <div class="row d-flex flex-column flex-md-row justify-content-center">
            <div class="pricing-enterprise-card col-lg-3">
                <div class="pricing-enterprise-card__header-container">
                    <h3>Training plan</h3>
                    <span class="pricing-enterprise-card__price">$3000</span>
                    <p class="pricing-enterprise-card__description">3-day course</p>
                </div>
                <ul class="flex-grow-1">
                    <li>
                        <span>unrestricted access to our AdminJS experts</span>
                    </li>
                    <li>
                        <span>up-to-date knowledge about how AdminJS works</span>
                    </li>
                    <li>
                        <span>
                            perfect for dev teams that want to learn how to customize AdminJS
                            on their own
                        </span>
                    </li>
                </ul>
                <a href="https://share.hsforms.com/1pYbHNR_ER-eslkS4g2oG_g8oc5a" target="_blank"
                    class="btn btn-primary btn-lg" id="training-plan">Select</a>
            </div>
            <div class="pricing-enterprise-card col-lg-3">
                <div class="pricing-enterprise-card__header-container">
                    <h3>Consulting</h3>
                    <span class="pricing-enterprise-card__price">$4000</span>
                    <p class="pricing-enterprise-card__description">40h package</p>
                </div>
                <ul class="flex-grow-1">
                    <li>
                        <span>dedicated AdminJS engineer</span>
                    </li>
                    <li>
                        <span>dedicated software architect</span>
                    </li>
                    <li>
                        <span>
                            perfect for dev teams that need to solve a specific issue or come
                            up with a dedicated solution
                        </span>
                    </li>
                </ul>
                <a href="https://share.hsforms.com/1seJ-ZgNCQiidG7LTbiXVtQ8oc5a" target="_blank"
                    class="btn btn-primary btn-lg" id="consulting-plan">Select</a>
            </div>
            <div class="pricing-enterprise-card col-lg-3">
                <div class="pricing-enterprise-card__header-container">
                    <h3>AdminJS development</h3>
                    <span class="pricing-enterprise-card__price">$9600</span>
                    <p class="pricing-enterprise-card__description">160h package</p>
                </div>
                <ul class="flex-grow-1">
                    <li>
                        <span>dedicated AdminJS developer or a team</span>
                    </li>
                    <li>
                        <span>dedicated software architect</span>
                    </li>
                    <li>
                        <span>
                            perfect for businesses that want to add new features to support
                            their existing business logic
                        </span>
                    </li>
                </ul>
                <a href="https://share.hsforms.com/1eICV7pFTRzyN2PsZUdU3LA8oc5a" target="_blank"
                    class="btn btn-primary btn-lg" id="ajsdev-plan">Select</a>
            </div>
            <div class="pricing-enterprise-card col-lg-3 pricing-enterprise-card__contact-us">
                <div class="pricing-enterprise-card__header-container border-white">
                    <h3 class="text-white">Custom software development</h3>
                    <span class="pricing-enterprise-card__price text-white">Contact us</span>
                    <p class="pricing-enterprise-card__description text-white">
                        for tailored estimation
                    </p>
                </div>
                <ul class="flex-grow-1">
                    <li>
                        <span class="text-white">
                            for startups or enterprise businesses that are looking for custom
                            software development, including product and UX/UI design, quality
                            assurance, project management and more
                        </span>
                    </li>
                </ul>
                <a href="https://share.hsforms.com/11LYUxVfCSg6IONj4WjqgKg8oc5a" target="_blank"
                    class="btn btn-outline-light btn-lg border-white" id="customdev-plan">Contact sales</a>
            </div>
        </div>
    </div>
</section>