<section class="section-success position-relative">
    <div class="section-success__bg-wrap absolute">
        @@include('../modules/_img-png.html', {"src": "success-bg", "class": "section-success__bg",
        "alt":
        ""})
    </div>
    <div class="container position-relative">
        <div class="row r-title">
            <h5 class="dark-brand text-center mb-4">Project success</h5>
            <h2 class="text-dark text-center fw-normal fancy-header">
                <strong>600+</strong> cars leased in just <strong>9</strong> months
            </h2>
        </div>
        <div class="row r-about">
            <div class="col-12">
                <div class="about-box d-flex position-relative">
                    <div class="about-box__bg-wrap absolute">
                        @@include('../modules/_img-png.html', {"src": "about-bg", "class": "about-box__bg object-cover",
                        "alt":
                        ""})
                    </div>
                    <div class="about-box__col-1 me-5 position-relative">
                        <h3 class="color-white with-decor">About CarFellows</h3>
                    </div>
                    <div class="about-box__col-2 position-relative">
                        <p class="body-m color-white mb-0">CarFellows is an online B2C car leasing platform that
                            connects
                            the largest car dealerships in Germany in the likes of Volkswagen, BMW, Audi, Cupra or Škoda
                            with their end clients by offering
                            a long-term rental of brand-new cars.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row r-challenge">
            <div class="col-xl-6 c-business">
                <div class="business-box position-relative bg-brand-2 d-flex flex-column align-items-start">
                    <div class="business-box__bg-wrap absolute">
                        @@include('../modules/_img-png.html', {"src": "business-bg","class": "business-box__bg object-cover", "alt":""})
                    </div>

                    <h3 class="text-dark with-decor with-decor--dark position-relative mb-55">Business challenge</h3>
                    <p class="mb-6 body-m text-dark position-relative">CarFellows needed to switch from their
                        overcomplicated and unscalable WP-based e-commerce platform to a more simple and modern administration panel with
                        rich customization possibilities.</p>
                    <a target="_blank" href="https://share.hsforms.com/1IedvmEz6RH2orhcL6g2UHA8oc5a" id="contactus" class="btn btn-lg btn-simple position-relative">Looking for similar solution?</a>
                    <script type="text/javascript">
                        $('#contactus').click(function() {
                          fbq('track', 'Contact');
                        });
                    </script>
                </div>
            </div>
            <div class="col-xl-6 c-what">
                <div class="c-what__inner">
                    <h3 class="text-dark with-decor mb-55">What we delivered</h3>
                    <ul class="list-unstyled mb-0 what-list">
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Back-office admin panel for CarFellows team</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Dealerships panel that provided dealers with control over
                                stock and offerings</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Financial module with credit score verification and leasing
                                rate calculator</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Built-in contract e-signage</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">3rd-party sales and marketing CRMs integration</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Frontend for the e-commerce platform</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>