<section class="section-setup">
    <div class="section-setup__inner position-relative">
        <div class="section-setup__bg absolute">
            @@include('../modules/_img-png.html', {"src": "setup-bg", "class": "object-cover", "alt": ""})
        </div>
        <div class="container position-relative h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="setup h-100 d-flex flex-column justify-content-center">
                        <p class="mb-3">Try AdminJS</p>
                        <h2 class="mb-9">Setup your admin panel
                            in 7 minutes</h2>
                        <div class="row w-100 mb-md-9 mb-55 gy-4">
                            <div class="col-lg-6">
                                <div class="setup-video-wrap w-100 position-relative">
                                    <!-- 16:9 aspect ratio -->
                                    <div class="ratio ratio-16x9">
                                        <div class="yt-player with-cover">
                                            <img class="video-cover" src="./img/video-placeholder-2.webp"
                                                alt="Video title">
                                            <iframe class="player d-none" width="560" height="315"
                                                src="https://www.youtube.com/embed/mFpih3fFecM" frameborder="0"
                                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                            <button class="play-btn">
                                                <svg width="60" height="70" viewBox="0 0 60 70" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M0.634949 0.143066L59.3651 34.7939L0.634949 69.4447V0.143066Z"
                                                        fill="white" fill-opacity="0.7" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="setup-video-wrap w-100 position-relative">
                                    <!-- 16:9 aspect ratio -->
                                    <div class="ratio ratio-16x9">
                                        <div class="yt-player with-cover">
                                            <img class="video-cover" src="./img/video-placeholder-3.webp"
                                                alt="Video title">
                                            <iframe class="player d-none" width="560" height="315"
                                                src="https://www.youtube.com/embed/npZUlGtCiOk" frameborder="0"
                                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                            <button class="play-btn">
                                                <svg width="60" height="70" viewBox="0 0 60 70" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M0.634949 0.143066L59.3651 34.7939L0.634949 69.4447V0.143066Z"
                                                        fill="white" fill-opacity="0.7" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap d-flex justify-content-center">
                            <a target="_blank" href="https://docs.adminjs.co/tutorial-installation-instructions.html" class="btn btn-primary btn-lg">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>