<section class="section-testimonials-enterprise d-none">
    <div class="container">
        <div class="row r-slider">
            <div class="col-12">
                <div class="slider-testimonials-enterprise">
                    <div class="splide slider-testimonials-enterprise__splide">
                        <div class="splide__track slider-testimonials-enterprise__track">
                            <ul class="splide__list slider-testimonials-enterprise__list">
                                <li class="splide__slide slider-testimonials-enterprise__slide d-flex">
                                    <div class="slider-testimonials-enterprise__col-1">
                                        <div class="test-box d-flex flex-column">
                                            <div class="test-box__decor-wrap mb-4">
                                                @@include('../modules/_img-png.html', {"src": "cite", "class": "", "alt": ""})
                                            </div>
                                            <p class="test-box__content color-white mb-4">When building our platform, we
                                                relied
                                                on the AdminJS tool, which resulted
                                                in a stable solution that in a short time
                                                allowed us to start sales and actively
                                                operate on the market.</p>
                                            <span class="color-white test-box__name">Nina Geiss</span>
                                            <span class="color-white test-box__position">CEO, CarFellows GmbH</span>
                                        </div>
                                    </div>
                                    <div class="slider-testimonials-enterprise__col-2 d-flex align-items-center">
                                        <!-- 16:9 aspect ratio -->
                                        <div class="ratio ratio-16x9">
                                            <div class="yt-player with-cover">
                                                <img class="video-cover" src="./img/video-placeholder-1.webp"
                                                    alt="Video title">
                                                <iframe class="player d-none" width="560" height="315"
                                                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                <button class="play-btn">
                                                    <svg width="59" height="69" viewBox="0 0 59 69" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="m0 0 59 34.5L0 69z" fill="#6DFBCE" fill-rule="evenodd"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide slider-testimonials-enterprise__slide d-flex">
                                    <div class="slider-testimonials-enterprise__col-1">
                                        <div class="test-box d-flex flex-column">
                                            <div class="test-box__decor-wrap mb-4">
                                                @@include('../modules/_img-png.html', {"src": "cite", "class": "", "alt": ""})
                                            </div>
                                            <p class="test-box__content color-white mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In soluta blanditiis dicta? Labore tenetur ex recusandae, obcaecati quibusdam cumque, minima, qui odio et nobis debitis provident! Aspernatur ab inventore sint.</p>
                                            <span class="color-white test-box__name">Nina Geiss</span>
                                            <span class="color-white test-box__position">CEO, CarFellows GmbH</span>
                                        </div>
                                    </div>
                                    <div class="slider-testimonials-enterprise__col-2 d-flex align-items-center">
                                        <!-- 16:9 aspect ratio -->
                                        <div class="ratio ratio-16x9">
                                            <div class="yt-player with-cover">
                                                <img class="video-cover" src="./img/video-placeholder-1.webp"
                                                    alt="Video title">
                                                <iframe class="player d-none" width="560" height="315"
                                                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                <button class="play-btn">
                                                    <svg width="59" height="69" viewBox="0 0 59 69" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="m0 0 59 34.5L0 69z" fill="#6DFBCE" fill-rule="evenodd"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide slider-testimonials-enterprise__slide d-flex">
                                    <div class="slider-testimonials-enterprise__col-1">
                                        <div class="test-box d-flex flex-column">
                                            <div class="test-box__decor-wrap mb-4">
                                                @@include('../modules/_img-png.html', {"src": "cite", "class": "", "alt": ""})
                                            </div>
                                            <p class="test-box__content color-white mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tempora quod doloribus rem eaque</p>
                                            <span class="color-white test-box__name">Nina Geiss</span>
                                            <span class="color-white test-box__position">CEO, CarFellows GmbH</span>
                                        </div>
                                    </div>
                                    <div class="slider-testimonials-enterprise__col-2 d-flex align-items-center">
                                        <!-- 16:9 aspect ratio -->
                                        <div class="ratio ratio-16x9">
                                            <div class="yt-player with-cover">
                                                <img class="video-cover" src="./img/video-placeholder-1.webp"
                                                    alt="Video title">
                                                <iframe class="player d-none" width="560" height="315"
                                                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                <button class="play-btn">
                                                    <svg width="59" height="69" viewBox="0 0 59 69" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="m0 0 59 34.5L0 69z" fill="#6DFBCE" fill-rule="evenodd"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>