<section class="section-success section-success--dive position-relative">
    <div class="container position-relative">
        <div class="row r-about">
            <div class="col-12">
                <div class="about-box d-flex position-relative">
                    <div class="about-box__bg-wrap absolute">
                        @@include('../modules/_img-png.html', {"src": "about-bg-dive", "class": "about-box__bg object-cover",
                        "alt":
                        ""})
                    </div>
                    <div class="about-box__col-1 me-5 position-relative">
                        <h3 class="color-white with-decor">About DIVE</h3>
                    </div>
                    <div class="about-box__col-2 position-relative">
                        <p class="body-m color-white mb-0">DIVE, or DI VIRTUAL EXPERIENCE™, is a first-of-its-kind immersive video conferencing platform for 360-degree interactive presentations, designed to help enterprises 
                            leverage their briefing centres capabilities for virtual and hybrid meetings with their clients and employees to engage them like never before.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row r-challenge">
            <div class="col-xl-6 c-business">
                <div class="business-box position-relative bg-brand-2 d-flex flex-column align-items-start">
                    <div class="business-box__bg-wrap absolute">
                        @@include('../modules/_img-png.html', {"src": "business-bg","class": "business-box__bg object-cover", "alt":""})
                    </div>

                    <h3 class="text-dark with-decor with-decor--dark position-relative mb-55">Business challenge</h3>
                    <p class="mb-6 body-m text-dark position-relative">Developing an MVP of a new product using an open-source solution for their Node-powered platform.</p>
                    <a target="_blank" href="https://share.hsforms.com/1IedvmEz6RH2orhcL6g2UHA8oc5a" id="contactus" class="btn btn-lg btn-simple position-relative">Looking for similar solution?</a>
                    <script type="text/javascript">
                        $('#contactus').click(function() {
                          fbq('track', 'Contact');
                        });
                    </script>
                </div>
            </div>
            <div class="col-xl-6 c-what">
                <div class="c-what__inner">
                    <h3 class="text-dark with-decor mb-55">What we delivered</h3>
                    <ul class="list-unstyled mb-0 what-list">
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Back-office panel that allowed managing of 
                                the entire business from a single place, including 
                                a built-in custom CMS</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">A range of custom AdminJS features, including support for 360° panoramic media and video conferencing</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Optimization of the entire backend of the 
                                DIVE platform</p>
                        </li>
                        <li class="what-list__item">
                            <p class="mb-0 text-dark body-m">Custom presentation templates</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>