<section class="section-pricing postion-relative">
  <div class="container">
    <div class="row r-title gy-8">
      <div class="col-12">
        <h1 class="mb-3 pricing-pretitle text-primary text-uppercase text-center">Pricing</h2>
        <p class="mb-4 pricing-title text-center">Effortless deployment and maintenance</p>
        <p class="mb-0 pricing-subtitle text-secondary text-center">Tailored cloud hosting・one-command deployment・personal tech support  </p>
      </div>
    </div>
    <div class="row d-flex align-items-center flex-column flex-xxl-row justify-content-center">
      <div class="pricing-card">
        <div class="pricing-card__header-container">
          <h3>Open Source</h3>
          <p class="pricing-card__description">Perfect for companies with strong tech competences and open source enthusiasts</p>
          <span class="pricing-card__price pricing-card__currency">0
            <span class="pricing-card__frequency">/ forever</span></span>
        </div>
        <ul class="flex-grow-1 mb-5">
          <li>
            <span>You build your admin panel on your own</span>
          </li>
          <li>
            <span>Self hosted</span>
          </li>
          <li>
            <span>Access to community</span>
          </li>
        </ul>
        <a href="https://docs.adminjs.co/" target="_blank" class="btn btn-outlined btn-lg"
          id="training-plan">Install now</a>
      </div>

      <div class="pricing-card highlighted cloud">
        <div class="pricing-card__cloud">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.99996 18.0002C5.75223 18.0002 4.55561 17.5261 3.67334 16.6822C2.79107 15.8383 2.29541 14.6937 2.29541 13.5002C2.29541 12.3067 2.79107 11.1621 3.67334 10.3182C4.55561 9.4743 5.75223 9.0002 6.99996 9.0002C7.29464 7.68737 8.15672 6.53368 9.39654 5.79291C10.0104 5.42612 10.6986 5.17174 11.4217 5.04431C12.1449 4.91687 12.8888 4.91887 13.6111 5.0502C14.3333 5.18152 15.0198 5.43959 15.6312 5.80968C16.2427 6.17976 16.7672 6.65461 17.1747 7.20712C17.5823 7.75963 17.8649 8.37898 18.0065 9.02979C18.1481 9.68061 18.1459 10.3502 18 11.0002H19C19.9282 11.0002 20.8185 11.3689 21.4748 12.0253C22.1312 12.6817 22.5 13.5719 22.5 14.5002C22.5 15.4285 22.1312 16.3187 21.4748 16.9751C20.8185 17.6314 19.9282 18.0002 19 18.0002H6.99996Z"
              fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <span>Cloud hosted</span>
        </div>
        <div class="pricing-card__header-container">
          <h3 class="text-white mb-2">Cloud <span class="beta-plan">BETA</span></h3>
          <p class="pricing-card__description text-white">The best for growing teams wanted to outsource DevOps or test PoC/MVP fast</p>
          <span class="pricing-card__price pricing-card__currency text-white">49
            <span class="pricing-card__frequency">/ month</span></span>
        </div>
        <ul class="flex-grow-1 text-white mb-5">
          <li>
            <span>You build your admin panel and deploy it in our cloud</span>
          </li>
          <li>
            <span>Secure database integration <img src="./img/info.svg" alt="More info" data-bs-toggle="tooltip" title="You can plug in AdminJS to your database through password, SSH tunneling or VPC peering."></span>
          </li>
          <li>
            <span>One command deployment CLI</span>
          </li>
          <li>
            <span>Repository with ready to use custom components <img src="./img/info.svg" alt="More info" data-bs-toggle="tooltip" title="GitHub repository with custom UI components that extend the AdminJS functionality."></span>
          </li>
          <li>
            <span>User dashboard with application status and logs</span>
          </li>
          <li>
            <span>Personal AdminJS tech support <img src="./img/info.svg" alt="More info" data-bs-toggle="tooltip" title="Private channel on our community Slack, where dedicated developer will answer your tech questions."></span>
          </li>
          <li>
            <span>Free 3 days trial account</span>
          </li>
        </ul>
        <a href="https://cloud.adminjs.co/register" target="_blank" class="btn btn-simple btn-lg"
          id="consulting-plan">Start Free Trial</a>
      </div>

      <div class="pricing-card">
        <div class="pricing-card__header-container">
          <h3>Enterprise</h3>
          <p class="pricing-card__description">Ideal for visionaries without dev competence onboard</p>
          <span class="pricing-card__price">
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M48.3636 33.9396L41.3636 26.9396H25.0303C24.4115 26.9396 23.818 26.6938 23.3804 26.2562C22.9428 25.8186 22.697 25.2251 22.697 24.6063V10.6063C22.697 9.98744 22.9428 9.39395 23.3804 8.95637C23.818 8.51878 24.4115 8.27295 25.0303 8.27295H46.0303C46.6491 8.27295 47.2426 8.51878 47.6802 8.95637C48.1178 9.39395 48.3636 9.98744 48.3636 10.6063V33.9396Z"
                stroke="#021048" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M33.303 28.6368V38.3944C33.303 39.0132 33.0572 39.6067 32.6196 40.0443C32.182 40.4819 31.5885 40.7277 30.9697 40.7277H14.6364L7.63635 47.7277V24.3944C7.63635 23.7755 7.88219 23.182 8.31977 22.7445C8.75735 22.3069 9.35085 22.061 9.96969 22.061H21"
                stroke="#021048" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </div>
        <ul class="flex-grow-1 mb-5">
          <li>
            <span>We build your admin panel and other apps for you (custom development)</span>
          </li>
          <li>
            <span>Cloud hosted (AWS)</span>
          </li>
          <li>
            <span>Dedicated developer or a team</span>
          </li>
        </ul>
        <a href="https://share.hsforms.com/1eICV7pFTRzyN2PsZUdU3LA8oc5a" target="_blank" class="btn btn-primary btn-lg"
          id="ajsdev-plan">Let’s chat</a>
      </div>
    </div>
    <div class="faq-container">
      <h2 class="mb-6 mb-md-8 pricing-title text-center">FAQ</h2>
      <div class="accordion accordion-flush" id="faq-accordion">
        <div class="accordion-item">
          <h3 class="accordion-header" id="faq-heading-1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-1" aria-expanded="true" aria-controls="faq-collapse-1">
              <span class="faq-question">Where will you host my application?</span>
            </button>
          </h3>
          <div id="faq-collapse-1" class="accordion-collapse collapse show" aria-labelledby="faq-heading-1" data-bs-parent="#faq-accordion">
            <div class="accordion-body">
              <span class="faq-answer">All of the Cloud plan applications are hosted on a private VPC on AWS.</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="faq-heading-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-2" aria-expanded="true" aria-controls="faq-collapse-2">
              <span class="faq-question">How does the personal tech support work?</span>
            </button>
          </h3>
          <div id="faq-collapse-2" class="accordion-collapse collapse" aria-labelledby="faq-heading-2" data-bs-parent="#faq-accordion">
            <div class="accordion-body">
              <span class="faq-answer">You will have a private channel on AdminJS community Slack, where one of our team members will answer the technical questions. Your questions will be prioritized before the community help questions and we’ll do our best to asnwer them within 24h.</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="faq-heading-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-3" aria-expanded="true" aria-controls="faq-collapse-3">
              <span class="faq-question">How often do you deploy new version of your library?</span>
            </button>
          </h3>
          <div id="faq-collapse-3" class="accordion-collapse collapse" aria-labelledby="faq-heading-3" data-bs-parent="#faq-accordion">
            <div class="accordion-body">
              <span class="faq-answer">We have a team of dedicated developers working full time on adapting the library to constantly changing requirements.</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="faq-heading-4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-4" aria-expanded="true" aria-controls="faq-collapse-4">
              <span class="faq-question">How do I access the user dashboard?</span>
            </button>
          </h3>
          <div id="faq-collapse-4" class="accordion-collapse collapse" aria-labelledby="faq-heading-4" data-bs-parent="#faq-accordion">
            <div class="accordion-body">
              <span class="faq-answer">To receive the access to the user dashboard you should start your 7 days free trial account.</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="faq-heading-5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-5" aria-expanded="true" aria-controls="faq-collapse-5">
              <span class="faq-question">How do I deploy my AdminJS panel?</span>
            </button>
          </h3>
          <div id="faq-collapse-5" class="accordion-collapse collapse" aria-labelledby="faq-heading-5" data-bs-parent="#faq-accordion">
            <div class="accordion-body">
              <span class="faq-answer">To deploy your AdminJS application you should login to your cloud dashboard. Then create your AdminJS panel instance and use our deployment CLI to bundle and deploy your application. For more please follow our <a href="https://docs.adminjs.co/deployment/overview" target="_blank">documentation</a>.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="faq-heading-6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-6" aria-expanded="true" aria-controls="faq-collapse-6">
              <span class="faq-question">Who is behind AdminJS?</span>
            </button>
          </h3>
          <div id="faq-collapse-6" class="accordion-collapse collapse" aria-labelledby="faq-heading-6" data-bs-parent="#faq-accordion">
            <div class="accordion-body">
              <span class="faq-answer">AdminJS is an brand of RST Software Masters, the leading software house in Poland with 20 years experience.</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="faq-heading-7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-7" aria-expanded="true" aria-controls="faq-collapse-7">
              <span class="faq-question">Who owns the data?</span>
            </button>
          </h3>
          <div id="faq-collapse-7" class="accordion-collapse collapse" aria-labelledby="faq-heading-7" data-bs-parent="#faq-accordion">
            <div class="accordion-body">
              <span class="faq-answer">As AdminJS we host only the application, while database should be hosted on your side. It makes you the only owner of the data. However we provide an easy setup to secure the connection between the database and AdminJS application using SSH tunneling or VPC peering.</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="faq-heading-8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-8" aria-expanded="true" aria-controls="faq-collapse-8">
              <span class="faq-question">Can you help me in the implementation?</span>
            </button>
          </h3>
          <div id="faq-collapse-8" class="accordion-collapse collapse" aria-labelledby="faq-heading-8" data-bs-parent="#faq-accordion">
            <div class="accordion-body">
              <span class="faq-answer">Yes, in the Enterprise plan we will build the whole application for you. Contact us to discuss your idea!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-8">
      <a href="https://share.hsforms.com/1yNfw6a8JRiW_VOG4fbbgKw8oc5a" target="_blank" class="btn btn-outlined btn-lg" id="consulting-plan-bottom">
        More questions? Contact us
      </a>
    </div>
  </div>
</section>
