<section class="section-additional section-additional--bussr position-relative">
    <div class="section-additional__bg-wrap absolute d-none d-md-block">
        @@include('../modules/_img-png.html', {"src": "add-bg", "class": "", "alt": ""})
    </div>
    <div class="section-additional__bg-wrap absolute d-block d-md-none">
        @@include('../modules/_img-png.html', {"src": "add-bg-mob", "class": "", "alt": ""})
    </div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-12">
                <h5 class="dark-brand text-center text-uppercase mb-4">What we delivered</h5>
                <h2 class="text-center mb-3">
                    Additional development services
                </h2>
                <p class="body-m text-center mb-6 mb-lg-9">Backed by technological expertise of RST Software and their pool of 160 developers, we built for Bussr a set of mobile and web applications, essentially taking care of the entirety of their software development process. </p>

                <div class="section-additional__decor-wrap">
                    @@include('../modules/_img-png.html', {"src": "add-decor-bussr", "class": "", "alt": "Dashboard"})
                </div>
            </div>
        </div>
    </div>
</section>