<section class="section-hero position-relative">
    <div class="section-hero__bg-wrap absolute">
        @@include('../modules/_img-jpg.html', {"src": "hero-bg", "class": "section-hero__bg object-cover", "alt": ""})
    </div>
    <div class="hero position-relative d-flex flex-column align-items-center">
        <div class="hero__subheader-wrap text-center mb-4">
            <h4 class="mb-0 text-center">build your <p class="mb-0"><span id="typewriter">startup</span></p> in minutes
            </h4>
        </div>
        <h1 class="color-white mb-7 text-center">Open-Source <span class="fw-bold">Admin Panel</span> for your <span
                class="fw-bold">Node.js Application</span></h1>
        <div class="hero__btns d-flex justify-content-center mb-2 flex-column flex-md-row align-items-center">
            <a target="_blank" href="https://adminjs-demo.herokuapp.com" class="btn btn-secondary me-0 me-md-4 mb-4 mb-md-0">Explore demo</a>
        </div>
        <div class="hero__img mb-7 position-absolute">
            @@include('../modules/_img-png.html', {"src": "hero-img", "class": "hero__img", "alt": "Dashboard"})
        </div>
    </div>
</section>
