<section class="section-try">
    <div class="container">
        <div class="row mb-0 mb-lg-9">
            <div class="c-title col-12 d-flex justify-content-center mb-9">
                <h2 class="text-center">Why you should try out AdminJS in your project</h2>
            </div>
            <div class="col-lg-4 mb-8 mb-lg-0">
                <div class="try">
                    <div class="try__img-wrap d-flex justify-content-center mb-5">
                        <svg width="80" height="80" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                                <path
                                    d="M10.256 0h59.488c3.567 0 4.86.371 6.163 1.069a7.27 7.27 0 0 1 3.024 3.024C79.63 5.396 80 6.689 80 10.256v59.488c0 3.567-.371 4.86-1.069 6.163a7.27 7.27 0 0 1-3.024 3.024C74.604 79.63 73.311 80 69.744 80H10.256c-3.567 0-4.86-.371-6.163-1.069a7.27 7.27 0 0 1-3.024-3.024C.37 74.604 0 73.311 0 69.744V10.256c0-3.567.371-4.86 1.069-6.163a7.27 7.27 0 0 1 3.024-3.024C5.396.37 6.689 0 10.256 0z"
                                    fill="#2467C4" opacity=".1" />
                                <path d="M20 20h40v40H20z" />
                                <path
                                    d="M31.667 31.667h16.666v10a5 5 0 0 1-5 5h-6.666a5 5 0 0 1-5-5v-10M35 25v6.667M45 25v6.667M40 46.667V50a3.333 3.333 0 0 0 3.333 3.333h5"
                                    stroke="#4D70EB" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </g>
                        </svg>
                    </div>
                    <h3 class="text-center mb-4">
                        <span class="text-center">Fast and easy</span>
                        <span class="text-center">installation</span>
                    </h3>
                    <p class="mb-0 text-center">AdminJS is installed from the NPM registry and works like any other middleware. What you have to do is simply use() it on your server.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-8 mb-lg-0">
                <div class="try">
                    <div class="try__img-wrap d-flex justify-content-center mb-5">
                        <svg width="80" height="80" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M10.256 0h59.488c3.567 0 4.86.371 6.163 1.069a7.27 7.27 0 0 1 3.024 3.024C79.63 5.396 80 6.689 80 10.256v59.488c0 3.567-.371 4.86-1.069 6.163a7.27 7.27 0 0 1-3.024 3.024C74.604 79.63 73.311 80 69.744 80H10.256c-3.567 0-4.86-.371-6.163-1.069a7.27 7.27 0 0 1-3.024-3.024C.37 74.604 0 73.311 0 69.744V10.256c0-3.567.371-4.86 1.069-6.163a7.27 7.27 0 0 1 3.024-3.024C5.396.37 6.689 0 10.256 0z" fill="#3FD6C6" opacity=".1"/>
                                <path d="M20 20h40v40H20z"/>
                                <path d="M28.333 26.667H35l5 5h11.667A3.333 3.333 0 0 1 55 35v13.333a3.333 3.333 0 0 1-3.333 3.334H28.333A3.333 3.333 0 0 1 25 48.333V30a3.333 3.333 0 0 1 3.333-3.333" stroke="#3FD6C6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                    <h3 class="text-center mb-4">
                         

                        <span class="text-center">Manage data from</span>
                        <span class="text-center">multiple sources</span>
                    </h3>
                    <p class="mb-0 text-center">Thanks to ORM/ODM Adapters, AdminJS can fetch and analyse data from multiple sources and showcase them in your admin panel.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-7 mb-lg-0">
                <div class="try">
                    <div class="try__img-wrap d-flex justify-content-center mb-5">
                        <svg width="80" height="80" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M10.256 0h59.488c3.567 0 4.86.371 6.163 1.069a7.27 7.27 0 0 1 3.024 3.024C79.63 5.396 80 6.689 80 10.256v59.488c0 3.567-.371 4.86-1.069 6.163a7.27 7.27 0 0 1-3.024 3.024C74.604 79.63 73.311 80 69.744 80H10.256c-3.567 0-4.86-.371-6.163-1.069a7.27 7.27 0 0 1-3.024-3.024C.37 74.604 0 73.311 0 69.744V10.256c0-3.567.371-4.86 1.069-6.163a7.27 7.27 0 0 1 3.024-3.024C5.396.37 6.689 0 10.256 0z" fill="#FF9F69" opacity=".1"/>
                                <g transform="translate(20 20)">
                                    <path d="M0 0h40v40H0z"/>
                                    <rect stroke="#FF9F69" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" x="6.667" y="10" width="6.667" height="8.333" rx=".833"/>
                                    <path stroke="#FF9F69" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M10 6.667V10M10 18.333v15"/>
                                    <rect stroke="#FF9F69" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" x="16.667" y="23.333" width="6.667" height="8.333" rx=".833"/>
                                    <path stroke="#FF9F69" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M20 6.667v16.666M20 31.667v1.666"/>
                                    <rect stroke="#FF9F69" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" x="26.667" y="8.333" width="6.667" height="10" rx=".833"/>
                                    <path stroke="#FF9F69" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M30 6.667v1.666M30 18.333v15"/>
                                </g>
                            </g>
                        </svg>
                        
                    </div>
                    <h3 class="text-center mb-4">
                        <span class="text-center">Adjust without any</span>
                        <span class="text-center">limitations</span>
                    </h3>
                    <p class="mb-0 text-center">AdminJS is designed with in-depth customization in mind and allows you to change how it works and looks according to your needs.</p>
                </div>
            </div>
        </div>
        <div class="row r-btn">
            <div class="col-12 d-flex flex-column align-items-center">
                <a target="_blank" href="https://adminjs-demo.herokuapp.com" class="btn btn-primary btn-lg">
                    <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>6C5EAA7A-CDB0-40A0-B462-D637695CEE0A</title>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Home-page-Final" transform="translate(-668.000000, -2784.000000)">
                            <g id="Group-23" transform="translate(628.000000, 2766.000000)">
                                <g id="Group" transform="translate(40.000000, 18.000000)">
                                    <polygon id="Path" points="0 0 20 0 20 20 0 20"></polygon>
                                    <rect id="Rectangle" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" x="2.5" y="3.33333333" width="15" height="10" rx="1"></rect>
                                    <line x1="5.83333333" y1="16.6666667" x2="14.1666667" y2="16.6666667" id="Path" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"></line>
                                    <line x1="7.5" y1="13.3333333" x2="7.5" y2="16.6666667" id="Path" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"></line>
                                    <line x1="12.5" y1="13.3333333" x2="12.5" y2="16.6666667" id="Path" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"></line>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                Live demo</a>
            </div>
        </div>
    </div>
</section>