<section class="section-how">
    <div id="how-it-works" class="container">
        <div class="row r-title mb-8 mb-lg-9">
            <div class="col-12">
                <h2 class="mb-0 text-center">How it works</h2>
            </div>
        </div>
        <div class="row r-content">
            <div class="col-12">
                <div class="how">
                    <div class="how__row-desc mb-8 mb-lg-6 d-flex">
                        <div class="how__col-desc--1 how__col-desc">
                            <h3 class="mb-3">databases</h3>
                            <p class="mb-0">Thanks to the following Database Adapters, you can feed AdminJS with the
                                data from almost any database.</p>
                        </div>
                        <div class="how__col-desc--2 how__col-desc">
                            <h3 class="mb-3">ORMs / ODMs</h3>
                            <p class="mb-0">AdminJS automatically fetches information about all of your database models
                                using ORM/ODM schemas.</p>
                        </div>
                        <div class="how__col-desc--3 how__col-desc"></div>
                        <div class="how__col-desc--4 how__col-desc">
                            <h3 class="mb-3">plugins</h3>
                            <p class="mb-0">Render AdminJS on your
                                HTTP framework using our
                                native plugins.</p>
                        </div>
                    </div>
                    <div class="how__row-icons d-flex">
                        <div class="how__col-icons-1 how__col-icons-box d-flex">
                            <div class="how__col-icons-1--inner-1 d-flex">
                                <div class="how__col-icons-1--inner-1--col-1">
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-13", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">MySQL</h4>
                                        <span class="icon-box__desc">via typeorm and sequelize</span>
                                    </div>
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-12", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">PostgreSQL</h4>
                                        <span class="icon-box__desc">via typeorm and sequelize</span>
                                    </div>
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-10", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">SQLite</h4>
                                        <span class="icon-box__desc">via typeorm and sequelize</span>
                                    </div>
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-3", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">Oracle</h4>
                                        <span class="icon-box__desc">via typeorm</span>
                                    </div>
                                </div>
                                <div class="how__col-icons-1--inner-1--col-2">
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-4", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">SAP Hana</h4>
                                        <span class="icon-box__desc">via typeorm</span>
                                    </div>
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-5", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">Microsoft SQL</h4>
                                        <span class="icon-box__desc">via typeorm and sequelize</span>
                                    </div>
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-9", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">MongoDB</h4>
                                        <span class="icon-box__desc">via typeorm and sequelize</span>
                                    </div>
                                </div>
                            </div>
                            <div class="decor-linie d-block d-xl-none"></div>
                            <div class="how__col-icons-1--inner-2 d-flex">
                                <div class="how__col-icons-1--inner-2--col-1">
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-7", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">Sequelize</h4>
                                        <span class="icon-box__desc">&nbsp;</span>
                                    </div>
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-6", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">Type ORM</h4>
                                        <span class="icon-box__desc">&nbsp;</span>
                                    </div>
                                    <div class="icon-box d-flex flex-column mb-0 mb-xl-4">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-8", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">Mongoose</h4>
                                        <span class="icon-box__desc d-none d-xl-inline">&nbsp;</span>
                                    </div>
                                    <div class="icon-box d-none d-xl-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-1", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">Prisma</h4>
                                        <span class="icon-box__desc">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="how__col-icons-1--inner-2--col-2">
                                    <div class="icon-box d-flex flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-2", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">MikroORM</h4>
                                        <span class="icon-box__desc">&nbsp;</span>
                                    </div>
                                    <div class="icon-box d-flex d-xl-none flex-column">
                                        @@include('../modules/_img-png.html', {"src": "tech-logo-1", "class": "icon-box__icon", "alt": "Technology logo"})
                                        <h4 class="icon-box__name">Prisma</h4>
                                        <span class="icon-box__desc">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="how__col-icons-2 d-flex flex-column justify-content-center align-items-center">
                            <div class="how__arrows d-none d-xl-flex">
                                <div class="arrow-box arrow-box--1 arrow-box--left"></div>
                                <div class="arrow-box arrow-box--2 arrow-box--right"></div>
                            </div>
                            <div class="how__inner-logo d-flex flex-column">
                                <img src="./img/a.svg" alt="Logo">
                                <h4 class="mb-0 text-center">AdminJS</h4>
                                <div class="arrow-box-mobile arrow-box-mobile--top-left d-block d-xl-none"></div>
                                <div class="arrow-box-mobile arrow-box-mobile--top-right d-block d-xl-none"></div>
                                <div class="arrow-box-mobile arrow-box-mobile--bottom-left d-block d-xl-none"></div>
                                <div class="arrow-box-mobile arrow-box-mobile--bottom-right d-block d-xl-none"></div>
                            </div>
                            <div class="how__arrows d-none d-xl-flex">
                                <div class="arrow-box arrow-box--3 arrow-box--left"></div>
                                <div class="arrow-box arrow-box--4 arrow-box--right"></div>
                            </div>
                        </div>
                        <div class="how__col-icons-3 how__col-icons-box">
                            <div class="icon-box d-flex flex-column">
                                @@include('../modules/_img-png.html', {"src": "tech-logo-11", "class": "icon-box__icon", "alt": "Technology logo"})
                                <h4 class="icon-box__name">Express JS</h4>
                                <span class="icon-box__desc">&nbsp;</span>
                            </div>
                            <div class="icon-box d-flex flex-column">
                                @@include('../modules/_img-png.html', {"src": "tech-logo-16", "class": "icon-box__icon", "alt": "Technology logo"})
                                <h4 class="icon-box__name">Hapi</h4>
                                <span class="icon-box__desc">&nbsp;</span>
                            </div>
                            <div class="icon-box d-flex flex-column mb-0 mb-xl-4">
                                @@include('../modules/_img-png.html', {"src": "tech-logo-15", "class": "icon-box__icon", "alt": "Technology logo"})
                                <h4 class="icon-box__name">Nest JS</h4>
                                <span class="icon-box__desc d-none d-xl-inline">&nbsp;</span>
                            </div>
                            <div class="icon-box d-flex flex-column mb-0">
                                @@include('../modules/_img-png.html', {"src": "tech-logo-14", "class": "icon-box__icon", "alt": "Technology logo"})
                                <h4 class="icon-box__name">Firebase Functions</h4>
                                <span class="icon-box__desc d-none d-xl-inline">&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>