<section class="section-tech">
    <div class="container">
        <div class="row r-title mb-6 mb-lg-9">
            <div class="col-12">
                <h2 class="mb-0 text-center">Tech stack we used in CarFellows</h2>
            </div>
        </div>
        <div class="row r-content">
            <div class="col-lg-2 c-content">
                <div class="tech-box">
                    <h4 class="text-left text-lg-center mb-0 mb-lg-6 mt-3 mt-lg-0 dark-brand">Frontend</h4>
                    <ul class="list-unstyled mb-0 tech-list">
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-3", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">React</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 c-content">
                <div class="tech-box">
                    <h4 class="text-left text-lg-center mb-0 mb-lg-6 mt-3 mt-lg-0 dark-brand">Backend</h4>
                    <ul class="list-unstyled mb-0 tech-list">
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-2", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">Node.js</h5>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-9", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">Nest.js</h5>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-8", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">Next.js</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 c-content">
                <div class="tech-box">
                    <h4 class="text-left text-lg-center mb-0 mb-lg-6 mt-3 mt-lg-0 dark-brand">Cloud</h4>
                    <ul class="list-unstyled mb-0 tech-list">
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-4", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">Kubernetes</h5>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-5", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">Cloud Run</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 c-content">
                <div class="tech-box">
                    <h4 class="text-left text-lg-center mb-0 mb-lg-6 mt-3 mt-lg-0 dark-brand">Testing</h4>
                    <ul class="list-unstyled mb-0 tech-list">
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-10", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">Cypress</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 c-content">
                <div class="tech-box">
                    <h4 class="text-left text-lg-center mb-0 mb-lg-6 mt-3 mt-lg-0 dark-brand">Databases</h4>
                    <ul class="list-unstyled mb-0 tech-list">
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-6", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">Atlas MongoDB</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 c-content">
                <div class="tech-box">
                    <h4 class="text-left text-lg-center mb-0 mb-lg-6 mt-3 mt-lg-0 dark-brand">Tools</h4>
                    <ul class="list-unstyled mb-0 tech-list">
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-1", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">AdminJS </h5>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-7", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">GitHub Actions</h5>
                        </li>
                        <li class="tech-list__item">
                            <div class="tech-list__img-wrap d-flex justify-content-center">
                                @@include('../modules/_img-png.html', {"src": "tech-icon-11", "class": "", "alt": ""})
                            </div>
                            <h5 class="text-center">Vercel</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>