<section class="section-hero-enterprise position-relative d-flex align-items-center">
    <div class="section-hero-enterprise__bg absolute">
        @@include('../modules/_img-jpg.html', {"src": "hero-enterprise-bg", "class": "section-hero-enterprise__bg object-cover", "alt": ""})
    </div>
    <div class="container postion-relative">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-md-start align-items-center">
                <h1 class="color-white text-center text-md-start mb-4">Data centralization and
                    management admin platform</h1>
                    <p class="mb-55 text-center text-md-start">An effective way to manage your business data</p>
                    <a target="_blank" href="https://share.hsforms.com/1IedvmEz6RH2orhcL6g2UHA8oc5a" id="contactus" class="btn btn-secondary btn-lg">Contact sales</a>
            </div>
        </div>
    </div>
</section>