<section class="section-hero-cs section-hero-cs--bussr position-relative section-hero-cs--dive">
    <div class="section-hero-cs__bg-wrap absolute">
        @@include('../modules/_img-jpg.html', {"src": "hero-cs-bg-3", "class": "section-hero-cs__bg object-cover", "alt": ""})
    </div>
    <div class="section-hero-cs__decor-wrap position-absolute">
        @@include('../modules/_img-png.html', {"src": "hero-cs-decor-3", "class": "section-hero-cs__decor", "alt": ""})
    </div>

    <div class="container position-relative h-100 d-flex align-items-start align-items-xl-end">
        <div class="row r-content">
            <div class="col-12 c-content">
                <div class="hero-cs">
                    <h5 class="color-white mb-3">Bussr</h5>
                    <h1 class="color-white mb-4">Cross&#8209;platform bus&#8209;hailing application</h1>
                    <div class="country d-flex align-items-center">
                        <div class="country__flag-wrap me-3"><img src="./img/flag-sg.webp" alt="Flag"></div>
                        <p class="country__name color-white fw-normal mb-0">Singapore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>