<section class="section-enterprise-features postion-relative">
    <div class="section-enterprise-features__bg absolute d-none d-lg-block">
        @@include('../modules/_img-jpg.html', {"src": "features-es-bg", "class": "object-cover", "alt":
        ""})
    </div>
    <h2 class="color-white mb-4 mb-md-3 text-center text-md-start">Enterprise features</h2>
    <p class="color-white mb-0 fw-normal">A range of AdminJS functionalities were designed with
        enterprise users in mind in order to provide required level of security and scalability.</p>
    <div class="section-enterprise-features__img">
        @@include('../modules/_img-png.html', {"src": "enterprise-features-decor", "class": "", "alt":
        ""})
    </div>
    <div class="list-wrap d-flex flex-column flex-md-row">
        <div class="list-col list-col--1 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0 list-features">
                <li class="list-features__item d-flex align-items-center">
                    <div class="list-features__img-wrap">
                        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>B765A1CF-7485-4896-A2E8-AA36228E3E28</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Enterprise-Final" transform="translate(-122.000000, -5521.000000)">
                                    <g id="Group" transform="translate(122.000000, 5521.000000)">
                                        <polygon id="Path" points="0 0 20 0 20 20 0 20"></polygon>
                                        <circle id="Oval" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" cx="5" cy="8.33333333" r="1.66666667"></circle>
                                        <line x1="5" y1="3.33333333" x2="5" y2="6.66666667" id="Path" stroke="#6DFBCE"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line>
                                        <line x1="5" y1="10" x2="5" y2="16.6666667" id="Path" stroke="#6DFBCE"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line>
                                        <circle id="Oval" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" cx="10" cy="13.3333333" r="1.66666667"></circle>
                                        <line x1="10" y1="3.33333333" x2="10" y2="11.6666667" id="Path" stroke="#6DFBCE"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line>
                                        <line x1="10" y1="15" x2="10" y2="16.6666667" id="Path" stroke="#6DFBCE"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line>
                                        <circle id="Oval" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" cx="15" cy="5.83333333" r="1.66666667"></circle>
                                        <line x1="15" y1="3.33333333" x2="15" y2="4.16666667" id="Path" stroke="#6DFBCE"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line>
                                        <line x1="15" y1="7.5" x2="15" y2="16.6666667" id="Path" stroke="#6DFBCE"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <p class="mb-0 color-white">Custom dashboards</p>
                </li>
                <li class="list-features__item d-flex align-items-center">
                    <div class="list-features__img-wrap">
                        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>0324BAD0-CA7C-4BB3-95D3-E74EA5BD8CB6</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Enterprise-Final" transform="translate(-122.000000, -5593.000000)">
                                    <g id="Group" transform="translate(122.000000, 5593.000000)">
                                        <polygon id="Path" points="0 0 20 0 20 20 0 20"></polygon>
                                        <circle id="Oval" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" cx="10" cy="5.83333333" r="3.33333333"></circle>
                                        <path
                                            d="M5,17.5 L5,15.8333333 C5,13.9923842 6.49238417,12.5 8.33333333,12.5 L11.6666667,12.5 C13.5076158,12.5 15,13.9923842 15,15.8333333 L15,17.5"
                                            id="Path" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <p class="mb-0 color-white">Role-based access contol</p>
                </li>
                <li class="list-features__item d-flex align-items-center">
                    <div class="list-features__img-wrap">
                        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>1EF7A0C3-5E25-4A28-AD66-1AD7AF28826C</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Enterprise-Final" transform="translate(-122.000000, -5665.000000)">
                                    <g id="Group" transform="translate(122.000000, 5665.000000)">
                                        <polygon id="Path" points="0 0 20 0 20 20 0 20"></polygon>
                                        <polyline id="Path" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"
                                            points="8.33333333 10 7.5 10 7.5 14.1666667 8.33333333 14.1666667">
                                        </polyline>
                                        <polyline id="Path" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"
                                            points="11.6666667 10 12.5 10 12.5 14.1666667 11.6666667 14.1666667">
                                        </polyline>
                                        <path
                                            d="M11.6666667,2.5 L11.6666667,5.83333333 C11.6666667,6.29357062 12.0397627,6.66666667 12.5,6.66666667 L15.8333333,6.66666667"
                                            id="Path" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M14.1666667,17.5 L5.83333333,17.5 C4.91285875,17.5 4.16666667,16.7538079 4.16666667,15.8333333 L4.16666667,4.16666667 C4.16666667,3.24619208 4.91285875,2.5 5.83333333,2.5 L11.6666667,2.5 L15.8333333,6.66666667 L15.8333333,15.8333333 C15.8333333,16.7538079 15.0871412,17.5 14.1666667,17.5 Z"
                                            id="Path" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <p class="mb-0 color-white">i18n localization system</p>
                </li>
                <li class="list-features__item d-flex align-items-center">
                    <div class="list-features__img-wrap">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h20v20H0z" />
                                <rect stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                    x="2.5" y="4.167" width="15" height="11.667" rx="1.333" />
                                <path
                                    d="M5.833 12.5V9.167a1.667 1.667 0 1 1 3.334 0V12.5M5.833 10.833h3.334M14.167 7.5v5h-1.25a1.25 1.25 0 1 1 1.25-1.25"
                                    stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </g>
                        </svg>
                    </div>
                    <p class="mb-0 color-white">Marketing support</p>
                </li>
            </ul>
        </div>
        <div class="list-col list-col--2">
            <ul class="list-unstyled mb-0 list-features">
                <li class="list-features__item d-flex align-items-center">
                    <div class="list-features__img-wrap">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h20v20H0z" />
                                <ellipse stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" cx="10" cy="5" rx="6.667" ry="2.5" />
                                <path d="M3.333 5v5c0 1.38 2.985 2.5 6.667 2.5a16.54 16.54 0 0 0 2.752-.223M16.667 10V5"
                                    stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M3.333 10v5c0 1.332 2.78 2.42 6.282 2.496m7.052-5.83V10m-5 5.833H17.5m-2.5-2.5 2.5 2.5-2.5 2.5"
                                    stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </g>
                        </svg>
                    </div>
                    <p class="mb-0 color-white">Backup safety system</p>
                </li>
                <li class="list-features__item d-flex align-items-center">
                    <div class="list-features__img-wrap">
                        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>0AA8BDD8-F180-4C85-9BD7-81B9310AAA1E</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Enterprise-Final" transform="translate(-538.000000, -5593.000000)">
                                    <g id="Group" transform="translate(538.000000, 5593.000000)">
                                        <polygon id="Path" points="0 0 20 0 20 20 0 20"></polygon>
                                        <path
                                            d="M12.5,2.5 L12.5,5.83333333 C12.5,6.29357062 12.873096,6.66666667 13.3333333,6.66666667 L16.6666667,6.66666667"
                                            id="Path" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M15,14.1666667 L9.16666667,14.1666667 C8.24619208,14.1666667 7.5,13.4204746 7.5,12.5 L7.5,4.16666667 C7.5,3.24619208 8.24619208,2.5 9.16666667,2.5 L12.5,2.5 L16.6666667,6.66666667 L16.6666667,12.5 C16.6666667,13.4204746 15.9204746,14.1666667 15,14.1666667 Z"
                                            id="Path" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M13.3333333,14.1666667 L13.3333333,15.8333333 C13.3333333,16.7538079 12.5871412,17.5 11.6666667,17.5 L5.83333333,17.5 C4.91285875,17.5 4.16666667,16.7538079 4.16666667,15.8333333 L4.16666667,7.5 C4.16666667,6.57952542 4.91285875,5.83333333 5.83333333,5.83333333 L7.5,5.83333333"
                                            id="Path" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <p class="mb-0 color-white">Log system control</p>
                </li>
                <li class="list-features__item d-flex align-items-center">
                    <div class="list-features__img-wrap">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h20v20H0z" />
                                <path d="M11.667 2.5v3.333c0 .46.373.834.833.834h3.333" stroke="#6DFBCE"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M4.167 10.833V4.167c0-.92.746-1.667 1.666-1.667h5.834l4.166 4.167v9.166c0 .92-.746 1.667-1.666 1.667H9.583m-7.916-1.667H7.5m-2.5-2.5 2.5 2.5-2.5 2.5"
                                    stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </g>
                        </svg>
                    </div>
                    <p class="mb-0 color-white">.CSV import mapping</p>
                </li>
                <li class="list-features__item d-flex align-items-center">
                    <div class="list-features__img-wrap">
                        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>24DA7A5D-66C5-499F-B2DA-1B6229A57852</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Enterprise-Final" transform="translate(-538.000000, -5737.000000)">
                                    <g id="Group" transform="translate(538.000000, 5737.000000)">
                                        <polygon id="Path" points="0 0 20 0 20 20 0 20"></polygon>
                                        <rect id="Rectangle" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" x="2.5" y="10" width="5" height="6.66666667"
                                            rx="0.666666667"></rect>
                                        <rect id="Rectangle" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" x="7.5" y="6.66666667" width="5" height="10"
                                            rx="0.666666667"></rect>
                                        <rect id="Rectangle" stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" x="12.5" y="3.33333333" width="5"
                                            height="13.3333333" rx="0.666666667"></rect>
                                        <line x1="3.33333333" y1="16.6666667" x2="15" y2="16.6666667" id="Path"
                                            stroke="#6DFBCE" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></line>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <p class="mb-0 color-white">File upload module</p>
                </li>
            </ul>
        </div>
    </div>
</section>