<section class="section-faq postion-relative">
    <div class="container">
        <div class="row r-title gy-8">
            <div class="col-12">
                <h2 class="mb-3 text-center">FAQ</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-7">
                <div class="question">
                    <div class="title">
                        <span>An effective way to manage your business data?</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 12L16 20L8 12" stroke="currentColor" stroke-width="2.5"
                                stroke-linecap="square" />
                        </svg>

                    </div>
                    <p class="answer">The out-of-the-box version of AdminJS is pretty powerful, but its in-depth
                        customizability is where it really shines. With a basic knowledge of React and Node.js, you can
                        change nearly every behaviour of your admin panel.
                        With AdminJS you can Create, Read, Update and Delete all of your resources, no matter where they
                        come from. Thanks to the tight integration with your ORM/ODM, AdminJS picks up all the
                        validation rules, data types and relationships.</p>
                </div>
                <div class="question">
                    <div class="title">
                        <span>An effective way to manage your business data?</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 12L16 20L8 12" stroke="currentColor" stroke-width="2.5"
                                stroke-linecap="square" />
                        </svg>

                    </div>
                    <p class="answer">The out-of-the-box version of AdminJS is pretty powerful, but its in-depth
                        customizability is where it really shines. With a basic knowledge of React and Node.js, you can
                        change nearly every behaviour of your admin panel.
                        With AdminJS you can Create, Read, Update and Delete all of your resources, no matter where they
                        come from. Thanks to the tight integration with your ORM/ODM, AdminJS picks up all the
                        validation rules, data types and relationships.</p>
                </div>
                <div class="question">
                    <div class="title">
                        <span>An effective way to manage your business data?</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 12L16 20L8 12" stroke="currentColor" stroke-width="2.5"
                                stroke-linecap="square" />
                        </svg>

                    </div>
                    <p class="answer">The out-of-the-box version of AdminJS is pretty powerful, but its in-depth
                        customizability is where it really shines. With a basic knowledge of React and Node.js, you can
                        change nearly every behaviour of your admin panel.
                        With AdminJS you can Create, Read, Update and Delete all of your resources, no matter where they
                        come from. Thanks to the tight integration with your ORM/ODM, AdminJS picks up all the
                        validation rules, data types and relationships.</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <a href="https://share.hsforms.com/1pYbHNR_ER-eslkS4g2oG_g8oc5a" target="_blank"
                    class="btn btn-outlined btn-lg" id="training-plan">More questions? Contact us</a>
            </div>
        </div>
    </div>
</section>
<script>
    const questions = document.getElementsByClassName('title');
    Array.from(questions).forEach((question) => {
        question.addEventListener('click', ({ target }) => { question.classList.toggle('open'); });
    });
</script>