<section class="section-connect position-relative">
    <div class="section-connect__bg absolute">
        @@include('../modules/_img-png.html', {"src": "setup-bg", "class": "", "alt": ""})
    </div>
    <div class="container position-relative">
        <div class="row r-content">
            <div class="col-md-6 c-img">
                @@include('../modules/_img-png.html', {"src": "connect-decor", "class": "img-fluid", "alt": ""})
            </div>
            <div class="col-md-6 c-content d-flex flex-column justify-content-center position-relative">
                <h2 class="mb-5">Connect your 
                    tools of choice</h2>
                    <p class="mb-0 fw-normal">Thanks to the architecture of AdminJS and its readyness for 3rd-party tools integrations, you don’t need to switch tools you are already using.</p>
            </div>
        </div>
    </div>
</section>