<section class="section-key overflow-hidden position-relative carfellows">
    <div class="container mb-5 position-relative">
        <div class="row r-title">
            <div class="col-12">
                <h5 class="dark-brand text-center text-uppercase mb-4">what we delivered</h5>
                <h2 class="text-white text-center mb-0">
                    Key AdminJS-powered features
                </h2>
            </div>
        </div>
    </div>
    <section class="section-key-inner section-key-inner--1 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-1", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-1", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-1", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">Complete back office system</h3>
                            <p class="body-m color-white mb-0">We expanded AdminJS into a complete back office solution
                                that helped CarFellows employees access necessary information and manage their entire
                                business using a role-based permission system.</p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">E-signature</h3>
                            <p class="body-m color-white mb-0">Speeding up sales process required digitalizion
                                of contract signing procedure, which we tackled by integrating 3rd-party e-signature
                                software into the AdminJS-powered administation panel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-key-inner section-key-inner--2 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-2", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-2", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row d-flex flex-column-reverse flex-lg-row">
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">Panel for car dealerships</h3>
                            <p class="body-m color-white mb-0">CarFellows provides their partner dealers with 
                                a dedicated panel enabling unrestricted access 
                                to offers, stock and order management as well 
                                as sales dashboards with the required data.</p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">3rd-party CRMs integration</h3>
                            <p class="body-m color-white mb-0">In order to feed AdminJS dashboards with relevant sales data, we built a custom integration with CarFellows external 3rd-party sales and marketing CRM systems.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-2", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-key-inner section-key-inner--3 position-relative">
        <div class="section-key-inner__bg-wrap absolute d-lg-block d-none">
            @@include('../modules/_img-png.html', {"src": "key-bg-3", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-key-inner__decor-wrap position-absolute d-lg-flex d-none">
            @@include('../modules/_img-png.html', {"src": "key-decor-3", "class": "", "alt": "Dashboard"})
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 c-img">
                    <div class="section-key-inner__decor-wrap d-lg-none d-block">
                        @@include('../modules/_img-png.html', {"src": "key-decor-3", "class": "object-contain",
                        "alt": "Dashboard"})
                    </div>
                </div>
                <div class="col-lg-6 c-content">
                    <div class="c-content__inner">
                        <div class="key-box mb-8">
                            <h3 class="color-white mb-3">Marketing support</h3>
                            <p class="body-m color-white mb-0">Considering how crucial of a role marketing plays 
                                in e-commerce, we built API connections with major social media advertising engines as well as SEO optimization capabilities. </p>
                        </div>
                        <div class="key-box">
                            <h3 class="color-white mb-3">Internal communicator</h3>
                            <p class="body-m color-white mb-0">Streamlining business operation was one of the key requirements, which is why we built a chat module that made it easier for their sales team to manage orders and other sales-related tasks.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>