<section class="section-text-img">
    <div class="container mb-55">
        <div class="row">
            <div class="col-12 c-text">
                <p class="text-center color-white mb-0">Simplify your company’s data management
                    and power back-office operations with an easily
                    deployable administration system</p>
            </div>
        </div>
    </div>
    <div class="text-image-decor">
        @@include('../modules/_img-png.html', {"src": "text-image-decor", "class": "text-image-decor__img", "alt":
        "Screenshots"})
    </div>

</section>