<section class="section-support">
    <div class="container">
        <div class="row r-title">
            <div class="col-12">
                <h2 class="mb-0 text-center">Enterprise-level support</h2>
            </div>
        </div>
        <div class="row r-content mb-8 gy-8">
            <div class="col-lg-4">
                <div class="support-box position-relative">
                    <div class="support-box__icon-outer-wrap d-flex justify-content-center position-absolute">
                        <div
                            class="support-box__icon-inner-wrap d-inline-flex justify-content-center align-items-center">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h32v32H0z" />
                                    <circle stroke="#3FD6C6" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" cx="16" cy="16" r="5.333" />
                                    <circle stroke="#3FD6C6" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" cx="16" cy="16" r="12" />
                                    <path stroke="#3FD6C6" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="m20 20 4.467 4.467M12 20l-4.467 4.467M7.533 7.533 12 12M24.467 7.533 20 12" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <h3 class="text-center mb-3">Tech support</h3>
                    <p class="text-center fw-normal mb-0">Dedicated development support teams allow businesses to use our expertise and add custom features or help with the maintenance of AdminJS-powered solutions.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="support-box position-relative">
                    <div class="support-box__icon-outer-wrap d-flex justify-content-center position-absolute">
                        <div
                            class="support-box__icon-inner-wrap d-inline-flex justify-content-center align-items-center">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h32v32H0z"/>
                                    <circle stroke="#3FD6C6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" cx="12" cy="9.333" r="5.333"/>
                                    <path d="M4 28v-2.667A5.333 5.333 0 0 1 9.333 20h5.334A5.333 5.333 0 0 1 20 25.333V28M21.333 14.667 24 17.333 29.333 12" stroke="#3FD6C6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <h3 class="text-center mb-3">Training</h3>
                    <p class="text-center fw-normal mb-0">We offer training for your developers on how 
                        to use and develop additional features for the AdminJS, so you can stay independent and expand your system with your internal forces.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="support-box position-relative">
                    <div class="support-box__icon-outer-wrap d-flex justify-content-center position-absolute">
                        <div
                            class="support-box__icon-inner-wrap d-inline-flex justify-content-center align-items-center">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h32v32H0z"/>
                                    <path stroke="#3FD6C6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m16 4 10.667 6v12L16 28 5.333 22V10L16 4M16 16l10.667-6M16 16v12M16 16 5.333 10"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <h3 class="text-center mb-3">Architecture</h3>
                    <p class="text-center fw-normal mb-0">Our DevOps and software architects are ready 
                        to help you evaluate the architecture of your system 
                        and advice on the best suiting solution 
                        for your specific case.</p>
                </div>
            </div>
        </div>
        <div class="row r-btn">
            <div class="col-12">
                <div class="btn-wrap d-flex justify-content-center">
                    <a target="_blank" href="https://share.hsforms.com/1IedvmEz6RH2orhcL6g2UHA8oc5a" id="contactus" class="btn btn-secondary btn-lg">Contact us</a>
                    <script type="text/javascript">
                        $('#contactus').click(function() {
                          fbq('track', 'Contact');
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>