<section class="section-setup enterprise cs position-relative">
    <div class="section-setup__bg absolute d-none d-xl-block">
        @@include('../modules/_img-png.html', {"src": "setup-bg", "class": "object-contain", "alt": ""})
    </div>
    <div class="section-setup__inner position-relative">
        <div class="section-setup__bg absolute d-block d-xl-none">
            @@include('../modules/_img-png.html', {"src": "setup-bg", "class": "object-cover", "alt": ""})
        </div>
        <div class="section-setup__decor d-none d-xl-block">
            @@include('../modules/_img-png.html', {"src": "setup", "class": "section-setup__decor-img", "alt": ""})
        </div>
        <div class="container position-relative h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="setup h-100 d-flex flex-column justify-content-center">
                        <p class="mb-3">Try AdminJS today</p>
                        <h2 class="mb-6">Power your e-commerce company with a back-office
                            system in minutes</h2>
                        <div class="btn-wrap d-flex ">
                            <a target="_blank" href="https://share.hsforms.com/1IedvmEz6RH2orhcL6g2UHA8oc5a" id="contactus" class="btn btn-primary btn-xl">Contact sales</a>
                            <script type="text/javascript">
                                $('#$scheduledemo').click(function() {
                                  fbq('track', 'Schedule');
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-setup__outer d-flex d-xl-none">
        <div class="section-setup__cont position-relative">
            <div class="section-setup__decor h-100">
                @@include('../modules/_img-png.html', {"src": "setup", "class": "section-setup__decor-img",
                "alt": ""})
            </div>
        </div>
    </div>

</section>